.logo {
    width: 200px;
    border: 1px solid #dad6d7;
    background-color: #f6f6f6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
    text-align: center;
    margin-top: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.mobileOnly{
    display: block;
}
.nomobile{
    display: none !important;
}
html, body {
    height: 100vh;
             
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    
} 
#__nuxt{
    max-width: 1000px;
    min-width: 400px;
    padding: 2px;
    overflow: auto;
    min-height: 100vh;    
}

* {
    line-height: 16px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}


@media (min-width: 640px) {
    .mobileOnly{
        display: none !important;
    }

    .nomobile{
        display: block !important;
    }

    .row{
        display: flex;
    }
    .col{
        width: 50%;
        margin: 4px;
    }
}

.flex {
    display: flex;
    justify-content: space-around;
}

.item3{
    margin-left: 3px !important;
}
.itemA{
    margin-left: 8px;
}
.menurentH .item{

background-color: #e6e6e6;
display: table-cell;
margin: 0 0 0 0;
border-bottom: 1px solid #dad6d7;
/* background-image: url(/templates/rent21/images/tab_bg.png); */
background-position: right;
background-repeat: no-repeat;
padding-top: 4px;
padding-bottom: 4px;
text-align: center;
}

.maindiv h1 {
font-size: 16px;
color: #353535;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
line-height: 15px;
}
.module {
line-height: 16px;
font-size: 14px;
font-family: 'Times New Roman', Times, serif;    
}

.maindiv .module p {
color: #707070;
letter-spacing: -0.7px;
word-spacing: -1px;
padding-top: 2px;
font-weight: light;
}

.hmenu1 {
min-width: 700px !important;
display: table;
}

.hmenu1 li {
display: table-cell;
margin-left: 5px;
}
.moduletab li {
background-color: #e6e6e6;
display: table-cell;
margin: 0 0 0 0;
border-bottom: 1px solid #dad6d7;
/* background-image: url(/templates/rent21/images/tab_bg.png); */
background-position: right;
background-repeat: no-repeat;
padding-right: 16px;
padding-top: 4px;
padding-bottom: 4px;
text-align: center;
min-width: 23%;
}

.moduletab li a {
font-size: 14px;
text-decoration: none;
color: #000000;
padding-top: 4px;
padding-bottom: 4px;
/* background: url(/templates/rent21/images/tab_bgall.png); */
}
.fotoInd{
    position: absolute;
    flex-flow: wrap;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 30px;
      display: flow;
  }
  .adrInfo{
    position: absolute;
    z-index: 444;
    background-color: #1c1d1e3b;
    color: beige;

    margin-right: 10px;
    text-align: left;
    padding: 8px;
    width: 90vw;
    margin-top: 1px;
}

.inputFind{
    display: flex;
    border: none;
    padding-top: 8px;
    background-color: #ffffff;
}

.padding0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}